* {
    box-sizing: border-box;
}


#container {
    display: flex;
    width: 960px;
    flex-wrap: wrap;
}

.square {
    width: 60px;
    height: 60px;
    background-color: lightgray;
    border: 1px solid #ccc;
}

#reset{
    width: 100px;
    height: 50px;
    font-size:25px;
    margin-bottom: 25px;
    background-color: aqua;
    border: none;
    border-radius: 15px;
    font-weight:bold;
    color: white;
}